{% extends 'introapp/base-origin.html' %}

{% block content %}

  <div class="row">
  
  <div class="col-md-2">
  </div>  
   
  <div class="signup_custom_form col-md-8" >
    <h2>로그인 <small>Login</small></h2>
    <fieldset>
      <div class="form-group row">  
      <form method="post">
        {% csrf_token %}
          {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="display: none">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
          {% endfor %}
        <button type="submit" class="btn btn-primary">로그인</button>
      </div>
    </fieldset>  
  </form>
  
  <div class="row">
        <p style="margin-left:10px">
        <a href="/find_username">사용자이름 찾기 &raquo;</a>
        &nbsp;&nbsp;
        <a href="/reset-password">비밀번호 찾기 &raquo;</a>
        </p>
  </div>
  
  </div>
  
  <div class="col-md-2">
  </div> 
  
  </div>
  
  
  
{% endblock %}
