{% extends 'introapp/base-origin.html' %}

{% block content %}
<!--<div class="container">-->
<!--    <h1>비밀번호가 변경되었습니다.</h1>-->
<!--    <p>-->
<!--        We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.-->

<!--        If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.-->
<!--    </p>-->
<!--</div>-->

    <div class="jumbotron">
     <h2 class="display-3">비밀번호 변경 완료</h2>
     <div class="alert alert-dismissible alert-success">
     
     <p class="mb-0">비밀번호가 변경이 완료되었습니다. </p>

     </div>
     </div>
{% endblock %}
