{% extends 'introapp/base-origin.html' %}
{% load staticfiles %}
{% block content %}
<!-- Page Preloader -->
<div class="preloader_1">
    <div class="status_1">
        <div class="status-mes"></div>
    </div>
</div>


  <div class="row">
  
  <div class="col-md-2">
  </div>  
   
  <div class="signup_custom_form col-md-8" >
    <h2>비밀번호 재설정 <small>Password reset</small></h2>
    <p>회원이메일을 이용해 비밀번호 재설정을 위한 링크를 받을 수 있습니다.</p>
    <fieldset>
      <div class="form-group row">  
      <form method="post">
        {% csrf_token %}
          {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="display: none">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
          {% endfor %}
        <button type="submit" class="btn btn-primary loading">
          비밀번호 재설정 </button>
          
        <!--<div class="twoToneCenter">-->
        <!--<button type="submit" class="twoToneButton btn btn-primary"> 비밀번호 재설정 </button>-->
        <!--</div>-->
      </div>
    </fieldset>  
  </form>
  </div>
  
  <div class="col-md-2">
  </div> 
  
  </div>

{% endblock %}



