{% extends 'introapp/base-origin.html' %}

{% block content %}
<!--<div class="container">-->
<!--    <h1>Password reset complete</h1>-->
<!--    <a href="{% url 'wiki:login' %}">Log in</a>-->
<!--</div>-->
    <a class="btn btn-default" href="/login">
    <span class="fa fa-user-circle-o" aria-hidden="true"> 로그인 </span></a>
    
    <div class="jumbotron">
     <h2 class="display-3">비밀번호 재설정 완료</h2>
     <div class="alert alert-dismissible alert-success">
     
     <p class="mb-0">비밀번호가 재설정 되었습니다. </p>
     <p><small>Thank you for your email confirmation. Now you can login your account.</small></p>
     </div>
     </div>
{% endblock %}
