{% extends 'bookapp/base.html' %}

{% block content %}
        
   {% if user.is_authenticated %}
    <div class="bookapp_btn">
    <a class="btn btn-default" href="{% url 'book_edit' pk=book.pk %}"><span class="fa fa-pencil-square-o" aria-hidden="true">  편집</span></a>
    <a class="btn btn-default" href="{% url 'book_new' %}"><span class="fa fa-plus" aria-hidden="true">  NEW</span></a>
    </div>
   {% endif %}
   
    <div class="book">

        
        <!--# 티벳어 표제어-->
        <h1>{{ book.title }}</h1>
        
        <!--# 단어 설명(품사/한국어 표제어/의미/용례/어원) -->
        <p>{{ book.get_markdown }}</p>
        
        <!--# 동사 시제 tense -->
        {% if book.ti_future_tense %}
        <p><code>동사변화</code></p>
        <table class="book-tabel-multi-verb">
    	<tr>
    		<td>  미래</td>
    		<td> <span></span> 현재</td>
    		<td> <span></span> 과거</td>
    		<td> <span></span> 명령</td>
    	</tr>
    	<tr>
    		<td>  {{ book.ti_future_tense }} </td>
    		<td> <span></span> {{ book.ti_present_tense }} </td>
    		<td> <span></span> {{ book.ti_past_tense }} </td>
    		<td> <span></span> {{ book.ti_imperative }} </td>
    	</tr>
        </table>
        {% endif %}
        
        <!--나머지 리스트 묶음-->
        <div class="book-list-collapse">
            <p><strong><code>관련단어</code></strong></p>
            <!--# 와일리 ti_wylie -->
            {% if book.ti_wylie %}
            <table class="book-tabel-1-row">
        	<tr>
        		<td> wylie</td>
        		<td>  <span></span> {{ book.ti_wylie }} </td>
        	</tr>
            </table>
            {% endif %}
            
            <!--# 유의어 ti_thesaurus -->
            {% if book.ti_thesaurus %}
            <table class="book-tabel-1-row">
        	<tr>
        		<td> 유의어</td>
        		<td>  <span></span> {{ book.ti_thesaurus }} </td>
        	</tr>
            </table>
            {% endif %}
            
            <!--# 반의어 ti_antonym -->
            {% if book.ti_antonym %}
            <table class="book-tabel-1-row">
        	<tr>
        		<td> 반의어</td>
        		<td> <span></span> {{ book.ti_antonym }} </td>
        	</tr>
            </table>
            {% endif %}
            
            <!--# 높임말 ti_honorific -->
            {% if book.ti_honorific %}
            <table class="book-tabel-1-row">
        	<tr>
        		<td> 높임말</td>
        		<td> <span></span> {{ book.ti_honorific }} </td>
        	</tr>
            </table>
            {% endif %}
            
            <!--# 낮춤말 ti_humble_terms -->
            {% if book.ti_humble_terms %}
            <table class="book-tabel-1-row">
        	<tr>
        		<td> 낮춤말</td>
        		<td> <span></span> {{ book.ti_humble_terms }} </td>
        	</tr>
            </table>
            {% endif %}
            
            <!--# 한국어 ti_korean_entry -->
            {% if book.ti_korean_entry %}
            <table class="book-tabel-1-row">
        	<tr>
        		<td> 한국어</td>
        		<td> <span></span> {{ book.ti_korean_entry }} </td>
        	</tr>
            </table>
            {% endif %}
            
            <!--# 범어 ti_sanskrit_entry -->
            {% if book.ti_sanskrit_entry %}
            <table class="book-tabel-1-row">
        	<tr>
        		<td> 범어 </td>
        		<td> <span></span> {{ book.ti_sanskrit_entry }} </td>
        	</tr>
            </table>
            {% endif %}
            
            <!--# 한문 ti_classical_chinese_entry -->
            {% if book.ti_classical_chinese_entry %}
            <table class="book-tabel-1-row">
        	<tr>
        		<td> 한문 </td>
        		<td> <span></span> {{ book.ti_classical_chinese_entry }} </td>
        	</tr>
            </table>
            {% endif %}
            
            <!--# 빨리어 ti_pali_entry -->
            {% if book.ti_pali_entry %}
            <table class="book-tabel-1-row">
        	<tr>
        		<td> 빨리어 </td>
        		<td> <span></span> {{ book.ti_pali_entry }} </td>
        	</tr>
            </table>
            {% endif %}
            
            <!--# 영어 ti_english_entry -->
            {% if book.ti_english_entry %}
            <table class="book-tabel-1-row">
        	<tr>
        		<td> 영어</td>
        		<td> <span></span> {{ book.ti_english_entry }} </td>
        	</tr>
            </table>
            {% endif %}
        </div>
        
        
        <!--# 사진 자료 이미지파일-->
        {% if book.image %}
        <div class="book-list-collapse">
            <p><strong><code>참고 이미지</code></strong></p>
            <img src='{{ book.image.url }}' class='img-responsive' />
        </div>
        {% endif %}
        
        <!--# 발음 오디오 파일-->
        {% if book.audio %}
        <div class="book-list-collapse">  
            <p><strong><code>발음</code></strong>
            <audio controls>
            <source src="{{ book.audio.url }}" type="audio/mp3">
            </audio>
            </p>
        </div>
        {% endif %}
        
        
        <!--# 변경일자 -->
        {% if book.published_date %}
        <div class="date">{{ book.published_date }}</div>
        {% endif %}
        <!--============================================================-->
        <!--생략부-->
        {# <p>{{ book.text|linebreaksbr }}</p> #}
        {# <p>분류 : <span class=''>{{ book.classification }}</span></p> #}
        <!--#  파일-->
        {# {% if book.file %} #}
        {# <div class=''> #}
        {# <a href="{{ book.file.url }}" download="{{ book.file }}"><span class=''>파일 :</span> {{ book.get_filename }}</a>  #}
        {# </div>  #}
        {# {% endif %} #}
        
    </div>
  
         
{% endblock %}