{% extends "wiki/base_site.html" %}

{# Intentionally empty, to allow easy customization with no copy-paste #}

 <!--custom setting 커스텀 설정-->

{% block wiki_site_title %} - Nalanda Wiki{% endblock %}

{% block wiki_header_branding %}
<a class="navbar-brand" href="{% url 'wiki:root' %}">Nalanda Wiki</a>
{% endblock %}

{% block wiki_header_navlinks %}
<ul class="nav navbar-nav">
  <li class="nav-list"><a href="/dictapp"> DICT </a></li>

  <li class="nav-list"><a href="/bookapp"> BOOK </a></li>

  <li class="nav-list"><a href="/"> HOME </a></li>

  <!--<li class=""><a href="http://www.nalanda.or.kr/" target="_blank"> INB </a></li>-->
</ul>
{% endblock %}
