{% extends 'introapp/base-origin.html' %}

{% block content %}
    
    <!--<form method="POST" class="post-form" enctype='multipart/form-data'>{% csrf_token %}-->
    
      <!-- Form Controls -->
    <!--    <div id="forms" class="container mb-5">-->
    <!--        <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto">-->
    <!--            <h3 class="mb-4">Form contact_us</h3>-->
    <!--            <p>문의사항 이메일 보내기</p>-->
    <!--        </div>-->

            <!-- Form Controls - Simple Forms: Default / Using Icons (Seamless) -->
    <!--        <div class="example col-lg-8 col-md-10 ml-auto mr-auto">-->
    <!--            <h5>Simple Forms</h5>-->

                <!-- Form Controls: Simple Forms -->
    <!--            <div class="row mb-5">-->
    <!--                <div class="col-md-12">-->
    <!--                    <form>-->
    <!--                        <div class="row">-->
    <!--                            <div class="form-group col-md-6">-->
    <!--                                <label for="form1-name" class="col-form-label">{{ form.name.label }}</label>-->
    <!--                                <div class="">{{ form.name }}</div>-->
    <!--                            </div>-->
    <!--                            <div class="form-group col-md-6">-->
    <!--                                <label for="form1-name" class="col-form-label">{{ form.subject.label }}</label>-->
    <!--                                <div class="">{{ form.subject }}</div>-->
    <!--                            </div>-->
    <!--                            <div class="form-group col-md-6">-->
    <!--                                <label for="form1-email" class="col-form-label">{{ form.email.label }}</label>-->
    <!--                                <div class="">{{ form.email }}</div>-->
    <!--                            </div>-->
    <!--                        </div>-->

    <!--                        <div class="row">-->
    <!--                            <div class="col-md-6 mb-4">-->
    <!--                                <label for="form1-password">{{ form.message.label }}</label>-->
    <!--                                <div class="">{{ form.message }}</div>-->
    <!--                            </div>-->
    <!--                        </div>-->
                            
    <!--                    </form>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <button type="submit" class="save btn btn-primary" style="margin-top: 10px;">이메일보내기</button>-->
    <!--        </div>-->
    <!--    </div>    -->
      
    <!--</form>-->
    
    
<!--## ====================    -->

<!--이메일 인증 성공 -->
  {% if success_msg %}
  <div class="row">
  <div class="alert alert-info" role="alert">
      {{ success_msg }}     
  </div>
  </div>
  {% endif %}
  
  <!--이메일 인증 실패 -->
  {% if fail_msg %}
  <div class="row">
  <div class="alert alert-danger" role="alert">
      {{ fail_msg }}     
  </div>
  </div>
  {% endif %}
  
  <!--문의사항 폼-->
  <div class="row">
  
  <div class="col-md-2">
  </div>  
   
  <div class="signup_custom_form col-md-8" >
    <h2>문의하기<small>contact us</small></h2>
    <fieldset>
      <div class="form-group row">  
      <form method="POST" class="post-form" enctype='multipart/form-data'>{% csrf_token %}

          {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="display: none">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
          {% endfor %}
        <!--<button type="submit">Sign up</button>-->
        <button type="submit" class="btn btn-primary">이메일 보내기</button>
      </div>
    </fieldset>  
  </form>
  </div>
  
  <div class="col-md-2">
  </div> 
  
  </div>
  
 
  
  
  
{% endblock %}