{% load i18n %}{% autoescape off %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Email Custom Design</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body style="margin: 0; padding: 0;">
 <table align="center" border="0" cellpadding="0" cellspacing="0" width="500" style="border-collapse: collapse;">
 <tr bgcolor="#ffe066"> 
 <td height="10px" style="">
 </td>
 </tr>

 <tr bgcolor="#ffffff"> 
 <td align="center" >
 	<img src="cid:logo-lotus-bo-circle.png" alt="Creating Email Magic" width="60px" height="60px" style="display: block;" />
 </td>
 </tr>

 <tr bgcolor="#ffffff">
  <td align="center" bgcolor="#70bbd9" style="padding: 40px 0 30px 0;">
 <img src="cid:email_icon.png" alt="Creating Email Magic" width="100px" height="110px" style="display: block;" />
 <p><small style="font-family: 'Helvetica Neue', sans-serif; font-weight:100; font-size: 15px; ">
 Institute of Nalanda Buddhism</small></p>
 <p> 
	 <!-- <span style="font-family: 'Source Sans Pro', cursive; font-size: 50px; color:#ffffff; "> -->
	 <span style="font-family: 'Helvetica Neue', sans-serif; font-weight:100; font-size: 50px; color:#ffffff; ">
	 email
	</span>
	 &nbsp;
	 <span style="font-family: 'Helvetica Neue', sans-serif; font-weight:100; color:#d9d9d9; font-size: 30px;">
	 from
	</span>
	 &nbsp;
	<span style="font-family: 'Helvetica Neue', sans-serif; font-weight:100; font-size: 40px; color:#ffffff; ">
	 Nalanda
	</span>
</p>
</td>
 </tr>
 <tr>
  <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
	 <table border="0" cellpadding="0" cellspacing="0" width="100%">
	  <tr>
	  <td align="center" border="0" cellpadding="0" cellspacing="0" style="color: #153643; font-family: Arial, sans-serif; font-weight:bold; font-size: 24px;">
	   나란다불교학술원 회원가입을 환영합니다! 
	  </td>
	 </tr>

	 <tr>
	  <td align="center" border="0" cellpadding="0" cellspacing="0" style="padding: 20px 0 30px 0;">
	   나란다불교학술원을 통해 감로와 같은 부처님의 가르침을 만나보세요.
	  </td>
	 </tr>

	 <tr >
		  <td max-width="400" valign="top">
		   		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		   		<tr align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
			     <td max-width="400px" max-height="200px">
			      <img src="cid:inboxiconanimation_30.gif" alt="" width="100px" height="75px" style="display: block;" />
			     </td>
			    </tr>

			    <tr>
			     <td bgcolor="#29abd6" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-radius: 25px;">
			      <p><span style="font-family: 'Helvetica Neue', sans-serif;  font-size: 20px; color:#ffffff; ">
 					이메일 인증을 완료하세요 </span>
 				  </p>
			     </td>
			    </tr>

			    <tr>
			     <td style="font-family: 'Helvetica Neue', sans-serif; font-weight:100; padding: 25px 0 0 0;" >
			      <strong> 발신자&nbsp;: </strong>&nbsp; 나란다불교학술원 운영진 <br/>
			      <strong> 수신자&nbsp;: </strong>&nbsp; {{ user.email }} , {{ user.username }}<br/>
			      <br/>
			      {{ user.username }} 회원님, <br/>
			      회원가입을 완료하려면 다음의 버튼을 클릭하십시오.<br/>
			      <div align="center" cellpadding="0" cellspacing="0">
			      <a href="http://{{ domain }}{% url 'activate' uidb64=uid token=token %}" 
			      class="btn-primary" style="font-family: Arial, sans-serif; font-weight:400; box-sizing: border-box; font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em;  text-align: center; cursor: pointer; display: inline-block; border-radius: 5px; text-transform: capitalize; background-color: #348eda; margin: 0; border-color: #348eda; border-style: solid; border-width: 10px 20px; margin-top: 15px;">
			      이메일 인증 활성화</a>
			     </div>
			     </td>
			    </tr>
			   </table>
		  </td>
	 </tr>
	</table>

  </td>
 </tr>
 <tr>
  <td bgcolor="#ee4c50" style="padding: 30px 30px 30px 30px;">
   	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	 <tr>	
	  <td width="50%">
	  	<span style="font-family: 'Helvetica Neue', sans-serif; font-weight:300; font-size: 13px; color:#ffffff; ">
		 <i class="fa fa-envelope" aria-hidden="true"></i> 
		 Institute of Nalanda Buddhism<br/>
		 나란다불교학술원<br/>
		</span>
	 </td>
	  <td width="10%">
	  	<div bgcolor="#ffffff" width="30px" height="30px" border="1px"
	  align="center" border="0" cellpadding="0" cellspacing="0" 
	  style="display: block; border-radius: 50px; width:30px; height:30px; 
	  background:#ffffff; border-collapse:collapse;">
	  	<a href="https://www.facebook.com/inb.nalanda" target="_blank"  alt="Facebook" 
	  	style="color: inherit; text-decoration: none; width:20px; height:20px; margin-top: 5px;" >
	  	<img src="cid:facebook_icon.png" alt="facebook" width="30px" height="30px" style="display: block;" />
	  	</a>
	  	</div>
	  </td>

	  <td width="10%">
	  <div bgcolor="#ffffff" width="30px" height="30px" border="1px"
	  align="center" border="0" cellpadding="0" cellspacing="0" 
	  style="display: block; border-radius: 50px; width:30px; height:30px; 
	  background:#ffffff; border-collapse:collapse;">

	  <a href="https://twitter.com/nalandakorea" target="_blank" alt="youtube" width="20px" height="20px"
	  style="color: inherit; text-decoration: none; width:20px; height:20px; margin-top: 5px;" >
	  <img src="cid:twitter_icon.png" alt="facebook" width="30px" height="30px" style="display: block;" />
	  </a>
	  </div>
	  </td>

	  <td width="10%">	
	  	<div bgcolor="#ffffff" width="30px" height="30px" border="1px"
	  align="center" border="0" cellpadding="0" cellspacing="0" 
	  style="display: block; border-radius: 50px; width:30px; height:30px; 
	  background:#ffffff; border-collapse:collapse;">
	  	<a href="https://www.youtube.com/channel/UCl7_LpYKuwHB6OamMhpKF_g" target="_blank"  alt="twitter"
	  	style="color: inherit; text-decoration: none; width:20px; height:20px; margin-top: 5px;" >
	  	<img src="cid:youtube_icon.png" alt="facebook" width="30px" height="30px" style="display: block;" />
	  	</a>
	  	</div>
	  </td>

	 </tr>
	</table>
  </td>
 </tr>
 <tr>
 	<td max-width="400" valign="top">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
	<td bgcolor="" align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
	<p><span style="font-family: 'Helvetica Neue', sans-serif; font-weight:100; font-size: 10px; color:#000000; ">
	<strong> www.nalanda.kr </strong><br/>
	경상북도 경주시 첨성로 81번길 20
	Institute Of Nalanda Buddhism, 20, 81-gil, Cheomseong-ro, Gyeongju-si, Gyeongsangbuk-do, Korea<br/>
	054-624-5353 
 	</span>
 	</p>
	</td>
	</tr>
	</table>
	</td>
 </tr>

 <tr bgcolor="#ffe066"> 
 <td height="10px" style="">
 </td>
 </tr>

</table>

</body>

</html> 
{% endautoescape %}