{% load i18n wiki_tags %}

{% with selected_tab as selected %}

<div class="pull-left" style="margin-left: 10px; margin-top: 5px;">
  <div class="btn-group">
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 7px;" title="{% trans "Sub-articles for" %} {{ article.current_revision.title }}">
      <span class="fa fa-archive"></span>
      <!--<span style="padding: 7px;">ARTICLE</span>-->
      <span class="caret"></span>
    </a>
    
    <ul class="dropdown-menu">
      
      <li class="{% if selected == "view" %} active{% endif %}" >
              <a href="{% url 'wiki:get' article_id=article.id path=urlpath.path %}" style="padding: 7px;">
                <span class="fa fa-home"></span>
                <span style="padding: 3px;"></span>
                <span class="">{% trans "View" %}</span>
              </a>
      </li>
      
      {% if article|can_write:user and not article.current_revision.locked %}
            <li class="{% if selected == "edit" %} active{% endif %}">
              <a href="{% url 'wiki:edit' article_id=article.id path=urlpath.path %}" style="padding: 7px;">
                <span class="fa fa-edit"></span>
                <span style="padding: 3px;"></span>
                <span class="">{% trans "Edit" %}</span>
              </a>
            </li>
            {% else %}
            
            <li class="{% if selected == "source" %} active{% endif %}">
              <a href="{% url 'wiki:source' article_id=article.id path=urlpath.path %}" style="padding: 7px;">
                <span class="fa fa-lock"></span>
                <span style="padding: 3px;"></span>
                <span class="">{% trans "View Source" %}</span>
              </a>
            </li>
      {% endif %}
      
              <li class="{% if selected == "history" %} active{% endif %}">
              <a href="{% url 'wiki:history' article_id=article.id path=urlpath.path %}" style="padding: 7px;">
                <span class="fa fa-clock-o"></span>
                <span style="padding: 3px;"></span>
                <span class="">{% trans "Changes" %}</span>
              </a>
              </li>
     
      {% for plugin in article_tabs %}
            <li class="{% if selected == plugin.slug %} active{% endif %}">
                <a href="{% url 'wiki:plugin' slug=plugin.slug article_id=article.id path=urlpath.path %}" style="padding: 7px;">
                  <span class="fa fa-paperclip"></span>
                  <!--<span class="{{ plugin.article_tab.1 }}"></span>-->
                  <span style="padding: 3px;"></span>
                  <span class="">{{ plugin.article_tab.0 }}</span>
                </a>
            
            </li>              
      {% endfor %}

      {% if not user.is_anonymous %}
            <li class="{% if selected == "settings" %} active{% endif %}">
             
              <a href="{% url 'wiki:settings' article_id=article.id path=urlpath.path %}" style="padding: 7px;" >
                <span class="fa fa-wrench"></span>
                <span style="padding: 3px;"></span>
                <span class="">{% trans "Settings" %}</span>
              </a>
            </li>    
       {% endif %}
       
    </ul>
  </div>
</div>



{% endwith %}


