{% extends 'introapp/new_home/home_base.html' %}
{% load staticfiles %}
{% block content %}


<div class="container" style="margin-top: 85px;">

<div class="home_intro_titel">
<h2 class="featurette-heading" id="tab_titel4">나란다불교학술원 소개 <small style="margin-top: 10px;">INB Introduction</small></h2>
</div>

<!--탭 메뉴-->
<div class="row">
<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="tab_titel active" id="nav_tabs_1"><a href="#tab1" data-toggle="tab"><i class="fa fa-university"></i>&nbsp;&nbsp;인사말</a></li>
  <li role="presentation"><a class="tab_titel" href="#tab2" data-toggle="tab"><i class="fa fa-cog"></i>&nbsp;&nbsp;설립취지</a></li>
  <li role="presentation"><a class="tab_titel" href="#tab3" data-toggle="tab"><i class="fa fa-sitemap"></i>&nbsp;&nbsp;조직도</a></li>
  <li role="presentation"><a class="tab_titel" href="#tab4" data-toggle="tab"><i class="fa fa-thumb-tack"></i>&nbsp;&nbsp;규정</a></li>
  <li role="presentation"><a class="tab_titel" href="#tab5" data-toggle="tab"><i class="fa fa-calendar"></i>&nbsp;&nbsp;연혁</a></li>
</ul>

<div id="myTabContent" class="tab-content">
  <!--인사말-->
  <div class="tab-pane active" id="tab1" style="margin-top: 40px;">
      <div class="row featurette">
            <div class="col-md-7">
            <h5 class="featurette-heading-tab" style="margin-top: 40px;">학술원장 인사말 <small>방문을 환영합니다.</small></h5>
            <p class="lead pull-left" style="margin-top: 40px;">
            사단법인 나란다불교학술원은 초기불교와 대승불교, 밀교의 모든 교학과<br>
            수행체계를 갖춘 나란다불교의 전통을 따르고 계승하기 위해 설립된 단체입니다.
            <br>
            <br>
            치우지지 않은 열린 마음과 옳고 그름을 구별하는 지혜, 법을 구하는 <br>
            청정한 마음이 있는 사람이라면 누구나 나란다의 법을 만날 수 있습니다.
            <br>
            <br>
            석가모니 부처님으로부터 은혜로운 나란다의 스승에게 전해진 불법의 대해(大海)에서
            법의 가피와 혜택을 누리어 진정한 행복을 찾기를 진심으로 바랍니다.
            <br>
            <br>
            <h5 class="featurette-heading-tab"><i class="fa fa-graduation-cap" aria-hidden="true" style="color:#595959;"></i>
            &nbsp;&nbsp;<small style="color:#808080;font-weight: bold;">나란다불교학술원장 합장</small></h5>
            </p>
            </div>
            
            <div class="col-md-5">
              <img class="featurette-image img-responsive center-block" src="{% static "introapp/img/new_home_img/tibetan_library_5_small.jpg" %}" alt="">
            </div>
      </div>
  </div>
  
  <!--설립취지-->
  <div class="tab-pane" id="tab2" style="margin-top: 40px;">
     <div class="row featurette">
            <div class="col-md-7  col-md-push-5">
            <h5 class="featurette-heading-tab" style="margin-top: 40px;">나란다불교의 계승 <small>나란다불교를 계승합니다.</small></h5>
            <p class="lead pull-left" style="margin-top: 40px;">
            사단법인 나란다불교학술원은 초기불교와 현교, 밀교의 모든 교학과 수행체계를 갖춘
            나란다불교를 계승하고 있는 티벳불교와 관련해 교육, 명상수행, 연구, 역경사업을 하기 위한 단체입니다.
            <br><br>
            교증(敎證)의 명맥이 살아있는 티벳불교의 전통에 힘입어 한국불교를 더욱 발전시키고 풍요롭게 하는데 기여하고자 합니다.
            <br><br>
            물질문명 시대에 피폐해진 인간정신을 회복하고 대승적 실천을 실현하는 공동체로서 사회적 정화에 보탬이 되고,
            따듯한 인간애를 배양하는 불교교화를 통해 사회와 인류에 기여할 실질적인 목적으로 설립되었습니다.
            <br>
            <br>
            <h5 class="featurette-heading-tab"><i class="fa fa-graduation-cap" aria-hidden="true" style="color:#595959;"></i>
            &nbsp;&nbsp;<small style="color:#808080;font-weight: bold;">나란다불교학술원장 합장</small></h5>
            </p>
            </div>
            
            <div class="col-md-5 col-md-pull-7">
              <img class="featurette-image img-responsive center-block" src="{% static "introapp/img/new_home_img/tibetan_library_6_small.jpg" %}" alt="">
            </div>
      </div>
  </div>
  
  <!--조직도-->
  <div class="tab-pane" id="tab3">
      <div class="tab-pane active" id="tab1" style="margin-top: 40px;">
          <div class="row featurette">
                <div class="col-md-7">
                <h5 class="featurette-heading-tab" style="margin-top: 40px;">조직도 <small>나란다불교학술원 조직운영도</small></h5>
                <p class="lead pull-left" style="margin-top: 40px;">
                사단법인 나란다불교학술원은 목적사업의 원할한 수행을 위해 다음과 같은 운영조직을 가집니다. 
                <br>
                </p>
                </div>
                
                <div class="col-md-5">
                  <img class="featurette-image img-responsive center-block" src="{% static "introapp/img/new_home_img/inb-web-org-3-small.jpg" %}" alt="">
                </div>
          </div>
      </div>
  </div>
  
  <!--연혁-->
  <div class="tab-pane" id="tab5" style="margin-top: 40px;">
     <div class="row featurette">
            <div class="col-md-8">
            <h5 class="featurette-heading-tab" style="margin-top: 40px;"><i class="fa fa-calendar" aria-hidden="true"></i>
            &nbsp;&nbsp;연혁표 <small>학술원의 기록들</small></h5>
            <p class="lead pull-left" style="margin-top: 40px;">
            회원님들과 후원자님들의 관심과 지원으로 조금씩 성장하고 있는 학술원의 <br>기록들을 모았습니다.
            <br>
            <br>
            <a style="margin-bottom: 15px;" href="/wiki/history/" class="btn btn-primary inb_btn_home"> <i class="fa fa-calendar" aria-hidden="true"></i>
        &nbsp;&nbsp;연혁 자세히보기 </a>
            </p>
            </div>
            
            <div class="col-md-4">
              <img class="featurette-image img-responsive center-block align-self-center"
              src="{% static "introapp/img/new_home_img/sprout-2.png" %}" alt="">
            </div>
      </div>
  </div>

<!--규정-->
  <div class="tab-pane" id="tab4" style="margin-top: 40px;">
     <div class="row featurette">
            <div class="col-md-12">
            <h5 class="featurette-heading-tab" style="margin-top: 40px;">학술원 규정&nbsp;&nbsp;<small>나란다불교학술원 정관</small></h5>
            <p class="lead pull-left" style="margin-top: 40px;">
            사단법인 나란다불교학술원은 초기불교와 현교, 밀교의 모든 교학과 수행체계를 갖춘
            나란다불교를 계승하고 있는 티벳불교와 관련해 교육, 명상수행, 연구, 역경사업을 하기 위한 단체입니다.
            </p>
            
            <div>
            <button class="btn btn-default dict_list_collaps_btn" type="button" data-toggle="collapse" data-target="#dict_collaps_regulation" aria-expanded="false" aria-controls="collapseExample">
            정관 펼쳐보기
            </button>
            <div class="collapse" id="dict_collaps_regulation">
            <div class="card card-body"> 
 <!--정관-->
{% include "introapp/new_home/articles_of_association.html" %}
 
           <a class="btn btn-primary dict_list_collaps_btn-2 pull-right" href="#tab_titel4" type="button" data-toggle="collapse"
             style="margin-top: 20px;" data-target="#dict_collaps_regulation" aria-expanded="false" aria-controls="collapseExample">
           내용접기
            </a>
            </div>
            </div> 
        </div>
        </div>
      </div>
  </div><!-- end 규정-->
  
 </div> 
</div><!--end 탭 메뉴-->


<hr class="featurette-divider" style="margin-top: 50px;">

    <div class="row featurette" style="margin-top: 50px;">
        <div class="col-md-7 col-md-push-5">
        <h2 class="featurette-heading">후원 <small style="margin-top: 10px;">학술원의 후원자가 되어주세요.</small></h2>
        <p class="lead">
            후원기금은 연구활동과 교육활동의 활성화를 위해 쓰여집니다. 
            은행 자동이체 방식과 무통장입금을 통해 정기적 또는 비정기적으로 후원 하실 수 있으며 
            직접 방문을 통해 기금을 전달하실 수도 있습니다.
        </p>
        </div>
        
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{% static "introapp/img/new_home_img/17-Nalanda-Masters-tangka.jpg" %}" alt="">
        </div>
    </div>
    
    <br>
    
     <div class="row timetable" >   
      <div class="col-md-4 timetable_box">
          <div class="list-group">
          <a href="/wiki/inb-main-service/" class="list-group-item list-group-item-action active donation"><span class="home_inb_title">주요사업</span></a>
          <a href="/wiki/inb-main-service/" class="list-group-item list-group-item-action"><span>나란다불교학술원은 불법의 대중화를 위해 필수적인 사업들을 진행 중입니다.</a>
          </div>
      </div>
      <div class="col-md-4 timetable_box">
          <div class="list-group">
          <a href="/wiki/support-history-data/" class="list-group-item list-group-item-action active donation"><span class="home_inb_title">후원현황</span></a>
          <a href="/wiki/support-history-data/" class="list-group-item list-group-item-action"><span>비영리연구단체인 나란다불교학술원은 후원자님들의 기부금을 통해 운영 중입니다.</span></a>
          </div>
      </div>
      <div class="col-md-4 timetable_box">
          <div class="list-group">
          <a href="/wiki/expense-data/" class="list-group-item list-group-item-action active donation"><span class="home_inb_title">지출현황</span></a>
          <a href="/wiki/expense-data/" class="list-group-item list-group-item-action"><span>지출과 후원등을 투명하게 공개하여 학술원을 운영 관리합니다.</span></a>
          </div>
      </div>
    </div> 
    
<div class="row">
<!-- Welcome Section -->
<div class="justify-content-center flex-column">
    <div class="inner-wrapper">
        <div>
        <h1 class="inb_brand"><span class="navbar-brand">INB</span></h1>
        <!--<p class="">Institute of Nalanda Buddhism</p>-->
        <p class="">주요메뉴</p>
        </div>
        <br>
        <div class="inb_main_menu">
          <a style="margin-bottom: 15px;" href="/inb_intro" class="btn btn-primary btn-pill align-self-center mr-2"> 소개 </a>
          <a style="margin-bottom: 15px;" href="/wiki" class="btn btn-outline-light btn-pill align-self-center"> 위키 </a>
          <a style="margin-bottom: 15px;" href="/dictapp" class="btn btn-outline-light btn-pill align-self-center"> 사전 </a>
          <a style="margin-bottom: 15px;" href="/bookapp/list/" class="btn btn-outline-light btn-pill align-self-center"> 도서 </a>
          <a style="margin-bottom: 15px;" href="/wiki/blog/" class="btn btn-outline-light btn-pill align-self-center"> 블로그 </a>
          <a style="margin-bottom: 15px;" href="/email_one_time_donation/" class="btn btn-outline-light btn-pill align-self-center"> 후원 </a>
          <a style="margin-bottom: 15px;" href="/contact_us/" class="btn btn-outline-light btn-pill align-self-center"> 문의 </a>
          <a style="margin-bottom: 15px;" href="/wiki/etc-relevant-material/" class="btn btn-outline-light btn-pill align-self-center"> 자료 </a>
          <a style="margin-bottom: 15px;" href="/wiki/link/" class="btn btn-outline-light btn-pill align-self-center"> 링크 </a>
        </div>
    </div>
</div>

<div class="social_footer">
    <!--<div>-->
    <!--<h1 class="inb_brand"><span class="navbar-brand">INB</span></h1>-->
    <!--<p class="">SNS</p>-->
    <!--</div>-->
    <div class="social_footer_menu">
    <a class="twitter mx-3 h4" href="https://twitter.com/nalandakorea" target="_blank">
    <i class="fa fa-twitter"></i>
    </a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="facebook mx-3 h4" href="https://www.facebook.com/inb.nalanda" target="_blank">
    <i class="fa fa-facebook"></i>
    </a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="github mx-3 h4" href="https://www.youtube.com/channel/UCl7_LpYKuwHB6OamMhpKF_g" target="_blank">
    <i class="fa fa-youtube"></i>
    </a>
    </div>
</div>

</div>


</div>




  
{% endblock %}