{% load staticfiles %}
<footer class="container" id="wiki-footer">
<hr /> 
<a href="/" class="pull-right"><img src="{% static "introapp/img/inb-logo-eng-lotus-bo-notran.png" %}" style="width:105px; height:75px; margin-bottom: 10px;"/></a>
<!--<p>Powered by <a href="http://www.nalanda.kr">Institute of Nalanda Buddhism</a>, an open source application under the <a href="http://www.gnu.org/licenses/quick-guide-gplv3.html">GPLv3</a> license. Let knowledge be the cure.</p>-->
<p style="margin-bottom: 2px;"><a href="http://www.nalanda.kr">나란다불교학술원,</a> 경주시 금성로 189</p>
<p><a href="http://www.nalanda.kr">Institute of Nalanda Buddhism</a>, 189, Geumseong-ro, Gyeongju-si, Gyeongsangbuk-do, Republic of Korea</p>
<div style="margin-bottom: 10px;"></div>
</footer>