{% extends 'introapp/base.html' %}

{% block content %}
        <div class="jumbotron">
        <h1 class="display-3">INB INTRO</h1>
        <p>INB INTRO</p>
        <form class="" method="GET" action="{% url 'intro_list' %}">
        <p>
        <input type="search" class="form-control search-query" name="q" placeholder="단어검색" value='{{ request.GET.q  }}'/>
        <!--<a class="btn btn-primary btn-lg" id="search_btn" type="submit"  role="button"><span class="fa fa-search"></span> ..Search</a>-->
        <button id="search_btn" class="btn btn-primary btn-lg" type="submit"><span class="fa fa-search"></span> ..Search</button>
        <!-- 사전 추가 버튼 -->
        <!--<div class="pull-right">-->
        {% if user.is_authenticated %}
        <a class="btn btn-info btn-lg" id="add_new_word_btn" type="text" href="{% url 'intro_new' %}" role="button"><span class="fa fa-plus"></span> NEW</a>
        {% endif %}	
        <!--</div>-->
        </p>
        
        </form>
        </div>

{% endblock %}