{% extends 'dictapp/base.html' %}

{% block content %}
<!--단어작성법 - 마크다운-->
<div class="dict" style="max-width:90%;">        
    <h2 class="display-3">티벳어 단어 작성방법</h2>
    <button class="btn btn-default dict_list_collaps_btn" type="button" data-toggle="collapse" data-target="#dict_collaps_how_make" aria-expanded="false" aria-controls="collapseExample">
    펼쳐보기
    <!--<i class="fa fa-angle-double-down" aria-hidden="true"></i>-->
    <!--<i class="fa fa-arrow-down" aria-hidden="true"></i>-->
    </button>
    
    <div class="collapse" id="dict_collaps_how_make">
    <div class="card card-body">
                    
        <div class="dict">
        
        <h2>단어 작성법</h2>
        
        <p>
                
        <h3>1. 품사표시</h3>

        <p>아포스트로피(apostrophe): 기호사용.  </p>
        
        <p><span class="badge badge_info">작성법</span></p>
        
        <pre class="how_make_dict_code"><code>`명사`  `형용사`   `동사`
        </code>
        </pre>
        
        <p><span class="badge badge_info">표시</span></p>
        
        <p><code>명사</code>  <code>형용사</code>   <code>동사</code></p>
        
        <hr>
        
        <h3>2. 불교용어표시</h3>
        
        <p>별표 (*)와 아포스트로피(apostrophe) 기호사용.</p>
        
        <p><span class="badge badge_info">작성법</span></p>
        
        <pre class="how_make_dict_code"><code>*`불교`*   *`경명`*   *`논명`*   *`인명`*
        </code>
        </pre>
        
        <p><span class="badge badge_info">표시</span></p>
        
        <p><em><code>불교</code></em>   <em><code>경명</code></em>   <em><code>논명</code></em>   <em><code>인명</code></em></p>
        
        <hr>
        
        <h3>3. 볼드체</h3>
        
        <p>별표 (*) 두 개 사용</p>
        
        <p><span class="badge badge_info">작성법</span></p>
        
        <pre class="how_make_dict_code"><code>문장 안에서 **볼드체 단어**를 별표 두 개로 감싼다.
        </code>
        </pre>
        
        <p><span class="badge badge_info">표시</span></p>
        
        <p>문장 안에서 <strong>볼드체 단어</strong>를 별표 두 개로 감싼다.</p>
        
        <hr>
        
        <h3>4. 강조체</h3>
        
        <p>별표 (*) 한 개 사용</p>
        
        <p><span class="badge badge_info">작성법</span></p>
        
        <pre class="how_make_dict_code"><code>문장 안에서 *강조할 단어*를 별표 한 개로 감싼다.
        </code>
        </pre>
        
        <p><span class="badge badge_info">표시</span></p>
        
        <p>문장 안에서 <em>강조할 단어</em>를 별표 한 개로 감싼다.</p>
        
        <hr>
        
        <h3>5. 예문 목록</h3>
        
        <p>빼기기호(-) 사용</p>
        
        <p><span class="badge badge_info">작성법</span></p>
        
        <pre class="how_make_dict_code"><code>- What's your favourite colour? 네가 좋아하는 색은 뭐니?<br>- bright/dark/light colours 선명한/어두운/밝은 색
        </code>
        </pre>
        
        <p><span class="badge badge_info">표시</span></p>
        
        <ul>
        <li>What's your favourite colour? 네가 좋아하는 색은 뭐니?</li>
        <li>bright/dark/light colours 선명한/어두운/밝은 색</li>
        </ul>
        
        <hr>
        
        <h3>6. 학습정보</h3>
        
        <h4>6.1 학습정보마크 표시</h4>
        
        <p>별표 (*) 두개와 아포스트로피(apostrophe) 기호사용. </p>
        
        <p><span class="badge badge_info">작성법</span></p>
        
        <pre class="how_make_dict_code"><code> **`학습정보`**
        </code>
        </pre>
        
        <p><span class="badge badge_info">표시</span></p>
        
        <p><strong><code>학습정보</code></strong></p>
        
        <h4>6.2 학습정보박스 표시</h4>
        
        <span class="badge badge_info">작성법</span></p>
        
        <pre class="how_make_dict_code"><code>&gt; 이 단어들은 모두 물체가 빛을 반사하면서 띠게 되는 색깔이나 색조를 나타낸다. shade (특히 어떤 색깔의 밝기나 어두운 정도를 묘사한)<br />&gt; 색조tone (어떤 색깔의 특정한) 색조[톤 / 분위기]:
        </code>
        </pre>
        
        <span class="badge badge_info">표시</span></p>
        
        <blockquote>
        <p>
        이 단어들은 모두 물체가 빛을 반사하면서 띠게 되는 색깔이나 색조를 나타낸다. shade (특히 어떤 색깔의 밝기나 어두운 정도를 묘사한) <br />
        색조tone (어떤 색깔의 특정한) 색조[톤 / 분위기]:
        </p>
        </blockquote>
        
        <hr>
        
        <h3>7. 출처표시</h3>
        
        <p>빼기기호(-)와 아포스트로피(apostrophe) 기호사용.</p>
        
        <p><span class="badge badge_info">작성법</span></p>
        
        <pre class="how_make_dict_code"><code>- `출처:Oxford Advanced Learner's English-Korean Dictionary`
        </code>
        </pre>
        
        <p><span class="badge badge_info">표시</span></p>
        
        <ul>
        <li><code>출처:Oxford Advanced Learner's English-Korean Dictionary</code></li>
        </ul>
        
        </p>
        
        <a class="btn btn-primary dict_list_collaps_btn-2 pull-right" href="#dict_collaps_how_make" type="button" data-toggle="collapse" 
        data-target="#dict_collaps_how_make" aria-expanded="false" aria-controls="collapseExample">
       내용접기
       </a>
        </div>
        
</div>
</div> 
</div> 


<!--form-->
    <h1 style="margin-bottom: 30px;"> 티벳어 표제어 입력</h1>
    
    <form method="POST" class="post-form" enctype='multipart/form-data'>{% csrf_token %}
    
        {{ form.as_p }}
        
        <hr style="height: 0.5px;">
        <button type="submit" class="save btn btn-default" style="margin-top: 10px;">Save</button>
      
      <!--<div class="form-group">-->
      <!--<label class="col-xs-2 col-lg-2">{{ form.title.label }}</label>-->
      <!--{{ form.title }}-->
      <!--</div> -->
      
      <!--<div class="form-group">-->
      <!--<label class="col-xs-12 col-lg-12">{{ form.text.label }}</label>-->
      <!--{{ form.text }}-->
      <!--</div>-->
      
    </form>
 
    

{% endblock %}